
header {
    height: 40vh;
    background-color: #000000;
}
h1 {
    color: #FF5E19;
    font-family: 'Berkshire Swash', cursive;
}

.main-sec {
    background-color: #151515;
}
.selected-players {
    background-color: #0D0D0D;
}
.budget {
    background-color: #0D0D0D;
}