
header {
    height: 40vh;
    background-color: #000000;
}
h1 {
    color: #FF5E19;
    font-family: 'Berkshire Swash', cursive;
}

.main-sec {
    background-color: #151515;
}
.selected-players {
    background-color: #0D0D0D;
}
.budget {
    background-color: #0D0D0D;
}
/* responsiveness */
@media (max-width: 768px) { 
    header {
        height: 25vh;
        background-color: #000000;
    }
    h1 {
        font-size: 20px;
        width: 60%;
    }
    .header-text {
        display: none;
    }
    .img-sz {
        height: 150px;
        width: 150px;
    }
    .basketball-img {
        height: 100px;
        width: 100px;
    }
 }